// .slick-center {
//     transform: scale(1.3);
// }

.slick-slide {
    & .overlay {
        transform: scale(0.7);
    }
}
.slick-current {
    & .overlay {
        transform: scale(1);
    }
    & .carousel-avatar {
        display: flex;
    }
}

.imageSlide {
    height: calc(100vh / 3);
}
